@import "tailwindcss";
@import "tw-animate-css";



body{
  background-color: #202020;
  overflow-x: hidden;
}
@font-face {
  font-family: "NBInternational";
  src: url("/Gilroy-Medium.ttf") ;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family:'gro' ;
    src: url('/FoundersGrotesk-Semibold.ttf');
}
h1{
  font-family: 'gro';
}
/* Set as global font */
html, body {
  font-family: "NBInternational", sans-serif;
}
:root {
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1 var(--delay, 0ms);
}


  @keyframes cell-ripple {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.4;
    }
  }
    /* styles.css */
    .text-stroke-custom {

          text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
    }

/* Define custom animation */
@layer utilities {
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  .animate-shine {
    animation: shine var(--duration, 3s) infinite linear;
  }
}

@layer base {
  @media (min-width: 300px) {
    /* Override Tailwind's sm breakpoint */
    :root {
      --tw-screen-sm: 400px;
    }
  }
}
